body {
    padding:
      0;
    margin:
      0;
    background:
      #0000ff;
    height: 100%;
    position:relative;
    overflow: hidden;
    width: 100%;
    cursor: none;
    }

.posterFrame {
  position:relative; 
  height:100%; 
  border:none; 
  margin:0; 
  padding:0; 
  overflow:hidden;
  z-index:10000;
  /* make sure posteframe fills the screen to the top and bottom of the window*/
      top: 0;
      bottom: 0;
  /* make sure if another posterframe is to the right, there is 0 spacing*/
  right: 0;
    /* make sure if another posterframe is to the right, there is 0 spacing*/
  left: 0;
      /* make sure the posterframe Has max width*/
  max-width: 100%;
}



  

